<!DOCTYPE html>
<html xmlns:th="http://thymeLeaf.org">
<head>
<script th:replace="fragments/header :: master"></script>
<title>Voting Products</title>
</head>
<body>
	<div class="container" th:if="${product != null}">
		<div class="card" style="margin-top: 1.5em;">
			<div class="card-header">
				<h2>Product</h2>
			</div>
			<div class="card-body">
				<form action="" method="post">
					<input type="hidden" th:name="${_csrf.parameterName}"
						th:value="${_csrf.token}"> <input type="hidden"
						th:field=${product.id}> <input type="hidden"
						th:field=${product.user}>

					<div class="form-group row">
						<label class="col-12 col-md-3 col-lg-2 col-form-label" for="Name">Name</label>
						<div class="col-12 col-md-9 col-lg-10">
							<input class="form-control" type="text"
								th:field="${product.name}" name="name" />
						</div>
					</div>

					<div class="custom-control custom-switch">
						<input type="checkbox" class="custom-control-input"
							th:field="${product.published}"> <label
							class="custom-control-label" for="published1">Is
							Published</label>
					</div>

					<button class="btn btn-primary btn-lg" type="submit">Save
						Product</button>

				</form>
			</div>
		</div>
	</div>
</body>
</html>
